body{
  background-color: rgba(0, 255, 255, 0.151);
}

section h1{
  font-size: 2.5em;
  color: rgb(34, 32, 32);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.country{
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  background-color: aqua;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}
