.product{
  display: flex;
  text-align: justify;
  border-bottom: 1px solid lightblue;

}

.product img{
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-name{
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.text-space{
  margin-right: 10px;
  margin-left: 20px;
}